html {
 box-sizing: border-box;
}
​*, *​:before, *:after {
 box-sizing: inherit;
}

body {
  background-color: #210011;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

header {
/*   background-color: #fff; */
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
/*   margin-bottom: 20px; */
}

nav {
  font-family: "industry",sans-serif;
  font-style: normal;
  font-weight: 300;
}

/*
nav:after{
	width: 0; 
	height: 0; 
	top:0;
	left: 0;
	border-left: 0px solid transparent;
	border-right: 120vw solid transparent;
	display: block;
	content:"";
	position: absolute;
	border-top: 59px solid rgba(255,255,255,.4);
	z-index: -1;
}
*/

/*
h1 {
  font-family: "industry",sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  width:404px;
}
*/

.spacer{
  margin-left: 14px;
  margin-right: 14px;
  font-family: "industry",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 4px;
  color:white;
  width:404px;
  position: relative;
  display: inline-block;
  text-align: left;
}

nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

nav a:hover {
  background-color: rgba(0,0,0,.25);
}

.container {
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}

.item {
  width:350px;
  margin: 5px;
  position: relative;
/*   background-color: white; */
/*
  border-style: solid;
  border-color: white;
  border-width: 2px;
*/
	
  display: inline-block;
  transition: all .2s ease;
  cursor: pointer;
  opacity: 0;
  overflow: hidden;

}

.item img {
  border-radius: 4px;
  width: 100%;
  display: block;
}

.item:after{
	
	content: attr(data-title);
	background-color:white;
	font-family: "industry",sans-serif;
	font-style: normal;
  	font-weight: 500;
  	letter-spacing: .8px;
	font-size: 16px;
	color: #210011;
	display: block;
	position: absolute;
	left:-90%;
	bottom: 16px;
/* 	opacity: 0; */
	padding: 4px 10px;
	padding-left: 40px;
	border-radius: 2px;
	-webkit-transition: all 450ms cubic-bezier(0.000, 1, 0.650, 0.935); /* older webkit */
-webkit-transition: all 450ms cubic-bezier(0.000, 1.540, 0.650, 0.935); 
   -moz-transition: all 450ms cubic-bezier(0.000, 1.540, 0.650, 0.935); 
     -o-transition: all 450ms cubic-bezier(0.000, 1.540, 0.650, 0.935); 
        transition: all 450ms cubic-bezier(0.000, 1.540, 0.650, 0.935); /* custom */
    
	
}



.item:hover:after{
	opacity:1;
	left:-30px;
/* 	bottom:16px; */
}

#sig{
	position: absolute;
	width:300px;
	margin-top: -30px;
}

.label-container {
  position: absolute;
  top:calc(100% + 10px);
}

label {
  color: #FFF;
  background-color: #6495ED;
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  margin-right: 6px;
}