body {
  background-color: hsl(0,0%,90%);
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: #6495ED;
  color: #fff;
  margin-bottom: 20px;
}

nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 300;
}

h1 {
  margin: 0;
  flex: 1;
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 300;
}

nav a {
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  padding: 40px;
  line-height: 40px;
}

nav a:hover {
  background-color: rgba(0,0,0,.25);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  margin: 0 auto;
}

.item {
  background: #6495ED;
  margin: 20px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-color: white;
  border-width: 10px 10px 30px;
  border-color: #FFF;
  border-style: solid;
  border-radius: 4px;
  transition: all .2s ease;
  cursor: pointer;
  opacity: 0;
}

@media (min-width: 1800px;) {.item{flex-basis:calc(600px + 20px);}}

.item img {
  width: 100%;
}

.item:after {
  content: attr(data-title);
  font-family: sans-serif;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 10px;
  opacity: .5;
  position: absolute;
  top:100%;
  line-height: 25px;
  right:0px;
}

.label-container {
  position: absolute;
  top:calc(100% + 10px);
}

label {
  color: #FFF;
  background-color: #6495ED;
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  margin-right: 6px;
}