html {
 box-sizing: border-box;
}
​*, *​:before, *:after {
 box-sizing: inherit;
}

body {
  background-color: #210011;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

#logo{
	
}

#gor{
	width:30px;
	height:auto;
	display: inline-block;
	vertical-align: middle;
	margin-top: -5px;
	padding-right: 10px;
}

header {
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

nav {
  font-family: "industry",sans-serif;
  font-style: normal;
  font-weight: 300;
}

h1 {
	
  vertical-align: middle;
  display: inline-block;
  font-family: "industry",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 4px;
  color:white;
}

h2 {
   font-family: "industry",sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 4px;
  color:white;
}


nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

nav a:hover {
  background-color: rgba(0,0,0,.25);
}

.container {
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}

.item {
  width:380px;
  margin: 4px;
  position: relative;
  display: inline-block;
  transition: all .2s ease;
  cursor: pointer;
  opacity: 0;
  overflow: hidden;

}

.item img {
  width: 100%;
  display: block;
}

.item:after{
	
	content: attr(data-title);
	background-color:white;
	font-family: "industry",sans-serif;
	font-style: normal;
  	font-weight: 500;
  	letter-spacing: .8px;
	font-size: 16px;
	color: #210011;
	display: block;
	position: absolute;
	left:-90%;
	bottom: 16px;
	padding: 4px 10px;
	padding-left: 40px;
	-webkit-transition: 0.5s cubic-bezier(.13,1,.43,.96);
	transition: 0.5s cubic-bezier(0.13, 1.57, 0.43, 0.96);
    
	
}
.item:hover:after{
	opacity:1;
	left:-30px;
}

#sig{
	position: absolute;
	width:300px;
	margin-top: -30px;
}

.label-container {
  position: absolute;
  top:calc(100% + 10px);
}

label {
  color: #FFF;
  background-color: #6495ED;
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  margin-right: 6px;
}