body{
    background-color: var(--color--background);
    
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-width: 2000px;
    margin: 0 auto;

   
}

.nowrap{
    white-space: nowrap;
}

h1{
    font-family: var(--font-family--sans-serif);
    color: var(--color--primary);
    text-transform: uppercase;
    font-size: clamp(13rem, 40vw, 46rem);
    // transform: rotateZ(-.5deg);
    letter-spacing: -.25rem;
    line-height: .9;
    margin: 0;
    padding: 0;
    text-align: center;

    @supports (background-clip:text) or (-webkit-background-clip:text) {
        
        color: rgba(216,245,96,.8);
        color: rgba(245,10,160,.8);
        background-clip: text;
        -webkit-background-clip: text;
        background-image: url(../images/gor.jpg);
        background-size: 130%;
        background-position: -10% 25%;
      }
    
    &.even-bigger{
        font-size: 50vw;
        // transform: rotateZ(-.5deg);
        margin-top: clamp(-5rem,-4vw,-1.5rem);
        font-size: clamp(16rem, 50vw, 56rem);

        @supports (background-clip:text) or (-webkit-background-clip:text) {
            color: rgba(216,245,96,.8);
            color: rgba(245,10,160,.8);
            background-clip: text;
            -webkit-background-clip: text;
            background-image: url(../images/gor.jpg);
            background-size: 130%;
            background-position: left bottom;
          }
    }
}