<html>
<head>

<style>
.item {
  width: 250px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.product-img{
	width: 100%;
}

.is-checked {
  background-color: #28F;
}

.isoDefault {
  min-height: 210px;
}

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.25/vue.min.js"></script>
<script src="https://npmcdn.com/isotope-layout@3.0.5/dist/isotope.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>
<script src="https://cdn.rawgit.com/David-Desmaisons/Vue.Isotope/v.1.1.0/src/vue_isotope.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
</head>
<body>
<div id="main">
<div>
  <div id="root_isotope" class="isoDefault">
    <div id="imageContainer" v-isotope-for="element in list" :options='option' @click="selected=element">
      	<img class="product-img" v-bind:src="element.image">
    </div>
  </div>
</div>

<div id="filter">
  <div>
    <input type="text" v-model="filterText" placeholder="no filter">
    <button :class="[filterOption==='filterByText' ? 'is-checked' : '']" @click="filter('filterByText')">Filter</button>
  </div>
  <button :class="[filterOption==='isEven' ? 'is-checked' : '']" @click="filter('isEven')">Filter Even</button>
  <button :class="[filterOption==='isOdd' ? 'is-checked' : '']" @click="filter('isOdd')">Filter Odd</button>
  <button @click="filter()">Unfilter</button>
</div>
<div id="sort">
  <button :class="[sortOption==='name' ? 'is-checked' : '']" @click="sort('name')">Sort by name</button>
  <button :class="[sortOption==='id' ? 'is-checked' : '']" @click="sort('id')">Sort by id</button>
  <button @click="shuttle">Shuttle</button>
</div>
<div>
  <div v-if="selected" class="item">
    <input type="text" name="" v-model="selected.name">
    <br>
    <input type="text" name="" v-model="selected.id">
  </div>
</div>
</div>

<script>

$(document).ready(function(){

var count = 0;
var gameList = [];
var spreadsheetID = "1BnJNhOKiDZQCPQGDIssVnIphZgW5_4PaNFWf9XzF6XU";
var sheeturl = "https://spreadsheets.google.com/feeds/list/" + spreadsheetID + "/od6/public/values?alt=json";
var bggurl = "http://bgg-json.azurewebsites.net/thing/";
var mycollection = "https://bgg-json.azurewebsites.net/collection/800pixelgorilla?grouped=true"

var vm = new Vue({
  el: "#main",
  data: {
    list: gameList,
    selected: null,
    sortOption: null,
    filterOption: null,
    filterText: "",
    currentLayout: 'fitRows',
    option: {
      getSortData: {
        id: "id",
        name: function(itemElem) {
          return itemElem.name.toLowerCase();
        }
      },
      getFilterData: {
        isEven: function(itemElem) {
          return itemElem.id % 2 === 0;
        },
        isOdd: function(itemElem) {
          return itemElem.id % 2 !== 0;
        },
        filterByText: function(itemElem) {
          return itemElem.name.toLowerCase().includes(this.filterText.toLowerCase());
        }
      }
    }
  },
  methods: {
    sort: function(key) {
      this.isotopeSort(key);
      this.sortOption = key;
    },
    filter: function(key) {
      if (this.filterOption == key)
        key = null;
      this.isotopeFilter(key);
      this.filterOption = key;
    },
    shuttle: function() {
      this.isotopeShuttle();
      this.sortOption = null;
    }
  }
});

$.getJSON(mycollection, function(data) {
	//console.log(data)
	$(data).each(function(){
		var game = this;
		game.id = game.gameId;
		gameList.push(game);
	})
})

$('#imageContainer').imagesLoaded( function() {
		console.log('loaded')
		$( window ).resize();
	});

/*
function getBGGData()
{
	$.each(gameList,function(key,value)
	{
		var game = this;
		$.getJSON(bggurl+this.id,function(data){
			game.image = data.thumbnail;
			game.name = data.name;
		})
	});
}
*/

});
</script>

</body>
</html>
